@charset "ISO-8859-1";
.fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1030; /* Bootstrap default z-index for fixed navbar */
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradiant(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		"img2.jpg";
	color: white;
}

.my-card {
	padding: 20px;
	background: #ffffff;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	padding-top: 56px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.signup-box, .login-box {
	width: 520px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
border-radius: 0px;
background: #e0e0e0;
box-shadow:  30px 30px 38px #606060,
             -30px -30px 38px #ffffff;
}
.report-box, .passenger-box, .reportshow-box, .routeshow-box, .flightEntry-box, .flightbook-box{
	width: 1300px;
	padding: 20px;
  margin-top: 30px;
  margin-left: 100px;
border-radius: 0px;
background: #e0e0e0;
box-shadow:  30px 30px 38px #606060,
             -30px -30px 38px #ffffff;
}

.signup-box h2, .login-box h2 {
	margin-bottom: 20px;
	text-align: center;
}

.signup-box label {
	display: block;
	margin-bottom: 5px;
}

.login-box label {
	display: block;
	text-align: left;
	margin-bottom: 10px;
}

.signup-box input[type="text"], .signup-box input[type="password"],
	.signup-box input[type="email"], .login-box input[type="username"],
	.login-box input[type="email"], .login-box input[type="password"], .flightbook-box input,
	.signup-box select {
	width: calc(100% - 2px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
.show-password {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-size: 14px;
}

.show-password input {
	margin-right: 10px;
}

.signup-box input[type="submit"], .login-box input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.login-box input[type="submit"], .signup-box input[type="submit"]:hover
	{
	background-color: #45a049;
}

.error {
	color: red;
	margin-bottom: 10px;
}

.input-error {
	border-color: red;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #0080ff;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.form:form {
	background: grey;
}

.contant {
	margin-left: 20%;
}